@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $yellow;
  background: $violet;
}

.header {

  &__heading {}

  &__teeth {
    width: 10rem;
  }
}

.play {

  &__icon {}
}

.rewards {

  &__animal {
    width: 20%;
  }
}